{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ project.name }}{% endblock title %}
{% block subtitle %}View details about the project.{% endblock subtitle %}

{% block content %}
<div class="container-fluid no-gutters">
    <div class="row pt-3">
        <div class="col-xl-6 px-0 pr-xl-3">
            <h2>Project Information</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ project.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Due Date</th>
                        <td>
                            {% if project.is_due %}
                            <span class="text-danger">{{ project.due_date }}</span>
                            {% else %}
                            {{ project.due_date|default_if_none:"N/A" }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Balance</th>
                        <td>${{ project.get_balance }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tracked Time</th>
                        <td>{{ project.get_tracked_time }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xl-6 px-0 pl-xl-3">
            <h2>Work Shifts</h2>
            <table id="jsDetailTable" class="table table-sm nowrap" style="width: 100%;">
                <thead>
                    <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Date</th>
                        <th scope="col">Worker</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for shift in project.shifts.all %}
                    <tr>
                        <td data-toggle="tooltip" title="{{ shift.description }}">{{ shift.description|truncatechars:16 }}</td>
                        <td>{{ shift }}</td>
                        <td>{{ shift.date }}</td>
                        <td><a href="{% url 'accounts:detail' uid=shift.worker.uid %}">{{ shift.worker }}</a></td>
                        <td>
                            {% if request.user.uid == shift.worker.uid or request.user.is_superuser %}
                            <a class="btn btn-sm btn-warning"
                                href="{% url 'accounts:shifts_edit' uid=shift.uid %}?next={{ request.get_full_path }}" data-toggle="tooltip"
                                title="Edit Shift">
                                <i class="fas fa-pen fa-fw"></i>
                            </a>
                            <a class="btn btn-sm btn-danger"
                                href="{% url 'accounts:shifts_delete' uid=shift.uid %}?next={{ request.get_full_path }}"
                                data-toggle="tooltip" title="Delete Shift">
                                <i class="fas fa-trash fa-fw"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid no-gutters">
    <div class="row">
        <a class="btn btn-dark btn-detail" href="{% url 'projects:list' %}">
            <i class="fas fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary btn-detail mx-2"
            href="{% url 'projects:generate_ros' uid=project.uid %}?next={{ request.get_full_path }}">
            <i class="fas fa-list-alt fa-fw mr-1"></i>
            Generate Record of Services
        </a>
        {% if user.is_superuser %}
        <a class="btn btn-warning btn-detail mx-2" href="{% url 'projects:edit' uid=project.uid %}?next={{ request.get_full_path }}">
            <i class="fas fa-pen fa-fw mr-1"></i>
            Edit Project
        </a>
        <a class="btn btn-danger btn-detail mx-2"
            href="{% url 'projects:delete' uid=project.uid %}?next=/projects/&cancel={{ request.get_full_path }}">
            <i class="fas fa-trash fa-fw mr-1"></i>
            Delete Project
        </a>
        {% endif %}
    </div>
</div>
{% if services %}
<div class="modal fade" id="rosModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="record-of-services">Record of Services</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="pdf-area">
                <table id="rosTable" class="table table-sm table-bordered nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>Date</th>
                            <th>Service</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        <tr>
                            <td>{{ service.worker }}</td>
                            <td>{{ service.date|date:"Y-m-d" }}</td>
                            <td>{{ service.description }}</td>
                            <td>{{ service }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="copyToClipboard">Copy to clipboard</button>
                <button type="button" class="btn btn-secondary" id="exportToCSV">Export to CSV</button>
                <button type="button" class="btn btn-secondary" id="exportToPDF">Export to PDF</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const table = document.getElementById('rosTable');
        const exportBtnCsv = document.getElementById('exportToCSV');
        const exportBtnPdf = document.getElementById('exportToPDF');
        const copyBtn = document.getElementById('copyToClipboard');

        function toClipboard() {
            var body = document.body, range, sel;
            if (document.createRange && window.getSelection) {
                range = document.createRange();
                sel = window.getSelection();
                sel.removeAllRanges();
                try {
                    range.selectNodeContents(table);
                    sel.addRange(range);
                } catch (e) {
                    range.selectNode(table);
                    sel.addRange(range);
                }
            } else if (body.createTextRange) {
                range = body.createTextRange();
                range.moveToElementText(table);
                range.select();
            }
            document.execCommand("copy");
            if (window.getSelection) { window.getSelection().removeAllRanges(); }
            else if (document.selection) { document.selection.empty(); }
        }

        function toCSV() {
            const rows = table.querySelectorAll('tr');
            const csv = [].slice.call(rows)
                .map(function (row) {
                    const cells = row.querySelectorAll('th,td');
                    return [].slice.call(cells)
                        .map(function (cell) {
                            return cell.textContent;
                        })
                        .join(',');
                })
                .join('\n');

            const link = document.createElement('a');
            link.setAttribute('href', `data:text/csv;charset=utf-8,${encodeURIComponent(csv)}`);
            link.setAttribute('download', 'Record of Services.csv');
            link.style.display = 'none';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };

        function toPDF() {
            document.body.innerHTML = document.getElementById("pdf-area").innerHTML;
            document.title='Record of Services'; 
            window.print();
            location.reload()
        }

        exportBtnCsv.addEventListener('click', function () {
            toCSV();
        });

        copyBtn.addEventListener('click', function () {
            toClipboard();
        });
        
        exportBtnPdf.addEventListener('click', function () {
            toPDF();
        });
        
    });
</script>
{% endif %}
<script>
    table = $('#jsDetailTable').DataTable({
        responsive: true,
        dom: '<"row no-gutters flex-nowrap"<"flex-grow-1"f><"flex-shrink-0 ml-1"p>>t',
        pagingType: "numbers",
        pageLength: 10,
        ordering: false,
        language: {
            lengthMenu: "_MENU_",
            search: "_INPUT_",
            searchPlaceholder: "Search"
        },
        columnDefs: [
            {
                targets: [0, -1],
                responsivePriority: 1
            }]
    });
    $('#jsDetailTable_filter').removeClass('dataTables_filter');
    $('#jsDetailTable_filter > label').contents().unwrap();
</script>
{% endblock content %}