{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Projects{% endblock title %}
{% block subtitle %}View the list of all projects.{% endblock subtitle %}

{% block content %}
<table id="jsTable" class="table list-view nowrap" style="width: 100%;">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Due Date</th>
            <th scope="col">Balance</th>
            <th scope="col">Tracked Time</th>
            <th scope="col">
                <a class="btn btn-sm btn-success" href="{% url 'projects:create' %}?next={{ request.get_full_path }}">
                    <i class="fas fa-plus fa-fw"></i>
                    Create Project
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.name }}</td>
            <td>
                {% if project.is_due %}
                <span class="text-danger">{{ project.due_date }}</span>
                {% else %}
                {{ project.due_date|default_if_none:"N/A" }}
                {% endif %}
            </td>
            <td>${{ project.get_balance }}</td>
            <td>{{ project.get_tracked_time }}</td>
            <td>
                <a class="btn btn-sm btn-info" href="{% url 'projects:detail' uid=project.uid %}" data-toggle="tooltip"
                    title="View Project">
                    <i class="fas fa-eye fa-fw"></i>
                </a>
                <a class="btn btn-sm btn-warning" href="{% url 'projects:edit' uid=project.uid %}?next={{ request.get_full_path }}"
                    data-toggle="tooltip" title="Edit Project">
                    <i class="fas fa-pen fa-fw"></i>
                </a>
                <a class="btn btn-sm btn-danger" href="{% url 'projects:delete' uid=project.uid %}?next={{ request.get_full_path }}"
                    data-toggle="tooltip" title="Delete Project">
                    <i class="fas fa-trash fa-fw"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}