{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <title>Business Tracker</title>
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/r-2.2.7/datatables.min.css">
  <link rel="stylesheet" href="{% static 'css/business_tracker.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/v/bs4/dt-1.10.23/r-2.2.7/datatables.min.js"></script>
  <script src="{% static 'js/jquery_formset.js' %}"></script>
  <script src="{% static 'js/business_tracker.js' %}"></script>
  {% block extra_head %}{% endblock extra_head %}
</head>

<body>
  {% include "includes/sidebar.html" %}
  <div class="main">
    {% include "includes/messages.html" %}
    <h1>{% block title %}{% endblock title %}</h1>
    <p>{% block subtitle %}{% endblock subtitle %}</p>
    <hr>
    {% block content %}{% endblock content %}
  </div>
</body>

</html>