{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}
{% block subtitle %}Access quick actions customized for your account.{% endblock subtitle %}

{% block content %}
<div class="dashboard-body core-font">
  <div class="card">
    <div class="card-body">
      <h5 class="text-uppercase m-0">Create Invoice</h5>
      <p class="mb-0">Create an invoice for your existing partners!</p>
    </div>
    <div class="card-footer w-100">
      <a class="btn btn-success btn-sm" href="{% url 'invoices:create' %}" data-toggle="tooltip" title="Create Invoice">
        <i class="fas fa-plus fa-fw"></i>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="text-uppercase m-0">Create Partner</h5>
      <p class="mb-0">Create a new partner!</p>
    </div>
    <div class="card-footer w-100">
      <a class="btn btn-success btn-sm" href="{% url 'partners:create' %}" data-toggle="tooltip" title="Create Partner">
        <i class="fas fa-plus fa-fw"></i>
      </a>
    </div>
  </div>
  {% for shift in shifts %}
  <div class="card">
    <div class="card-body">
      <h5 class="text-uppercase m-0">Shift <span class="text-secondary">{{ shift.description|truncatechars:32 }}</span></h5>
      <p class="text-danger">Not associated with any project</p>
      <p class="mb-0">
        Date: <span class="text-secondary">{{ shift.date }}</span><br>
        Duration: <span class="text-secondary">{{ shift }}</span><br>
        Project: <span class="text-secondary">{{ invoice.project.name|default:"N/A" }}</span>
      </p>
    </div>
    <div class="card-footer w-100">
      <a class="btn btn-warning btn-sm" href="{% url 'accounts:shifts_edit' uid=shift.uid %}" data-toggle="tooltip" title="Edit Shift">
        <i class="fas fa-pen fa-fw"></i>
      </a>
      <a class="btn btn-danger btn-sm" href="{% url 'accounts:shifts_delete' uid=shift.uid %}" data-toggle="tooltip" title="Delete Shift">
        <i class="fas fa-trash fa-fw"></i>
      </a>
    </div>
  </div>
  {% endfor %}
  {% for invoice in invoices %}
  <div class="card">
    <div class="card-body">
      <h5 class="text-uppercase m-0">Invoice <span class="text-secondary">{{ invoice.invoice_id }}</span></h5>
      <p>{{ invoice.get_html_status }}</p>
      <p class="mb-0">
        Partner: <span class="text-secondary">{{ invoice.partner.company }}</span><br>
        Amount: <span class="text-secondary">${{ invoice.get_total }}</span><br>
        Bill Date: <span class="text-secondary">{{ invoice.bill_date|default:"N/A" }}</span>
      </p>
    </div>
    <div class="card-footer w-100">
      <a class="btn btn-info btn-sm" href="{% url 'invoices:pdf' uid=invoice.uid %}" target="_blank" data-toggle="tooltip"
        title="View Invoice">
        <i class="fas fa-file-pdf fa-fw"></i>
      </a>
      <a class="btn btn-primary btn-sm advance-invoice" href="{% url 'invoices:advance' uid=invoice.uid %}" data-toggle="tooltip"
        title="Advance Invoice Status">
        <i class="fas fa-step-forward fa-fw"></i>
      </a>
      <a class="btn btn-warning btn-sm" href="{% url 'invoices:edit' uid=invoice.uid %}" data-toggle="tooltip" title="Edit Invoice">
        <i class="fas fa-pen fa-fw"></i>
      </a>
      <a class="btn btn-danger btn-sm" href="{% url 'invoices:delete' uid=invoice.uid %}" data-toggle="tooltip" title="Delete Invoice">
        <i class="fas fa-trash fa-fw"></i>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}