{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
{% endblock extra_head %}

{% block title %}Settings{% endblock title %}
{% block subtitle %}Set up Business Tracker the way you want.{% endblock subtitle %}

{% block content %}
<form novalidate enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div id="div_{{ form.invoice_template.id_for_label }}" class="form-group">
    <label for="{{ form.invoice_template.id_for_label }}">{{ form.invoice_template.label }}</label>
    <div class="custom-file">
      <input type="file" name="{{ form.invoice_template.name }}" class="custom-file-input" id="{{ form.invoice_template.id_for_label }}"
        accept="application/pdf">
      <label class="custom-file-label" for="{{ form.invoice_template.id_for_label }}">Choose PDF file</label>
      {% if form.invoice_template.help_text %}
      <small id="hint_{{ form.invoice_template.name }}" class="form-text text-muted">{{ form.invoice_template.help_text }}</small>
      {% endif %}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-xl-6">
      {{ form.email_host|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6">
      {{ form.email_port|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      {{ form.email_user|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6">
      <div id="div_id_email_password" class="form-group">
        <label for="id_email_password" class="">
          Email Password
        </label>
        <div class="">
          <div class="input-group mb-3">
            <input type="password" name="email_password" value="{{ form.email_password.value }}" class="textinput textInput form-control"
              id="id_email_password">
            <div class="input-group-append">
              <button type="button" id="emailPasswordButton" class="btn btn-outline-info" data-toggle="button" id="emailPasswordButton">
                <i class="fas fa-eye fa-fw"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div id="div_{{ form.email_use_tls.id_for_label }}" class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" name="{{ form.email_use_tls.name }}" id="{{ form.email_use_tls.id_for_label }}"
      {% if form.email_use_tls.value %} checked {% endif %}>
      <label class="custom-control-label" for="{{ form.email_use_tls.id_for_label }}">{{ form.email_use_tls.label }}</label>
      {% if form.email_use_tls.help_text %}
      <small id="hint_{{ form.email_use_tls.name }}" class="form-text text-muted">{{ form.email_use_tls.help_text }}</small>
      {% endif %}
    </div>
  </div>
  <hr>
  {{ form.weekly_hours|as_crispy_field }}
  {{ form.overdue_days|as_crispy_field }}
  {{ form.notice|as_crispy_field }}
  {{ form.billing_message|as_crispy_field }}
  <div class="form-group">
    <div id="div_{{ form.auto_email.id_for_label }}" class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" name="{{ form.auto_email.name }}" id="{{ form.auto_email.id_for_label }}"
      {% if form.auto_email.value %} checked {% endif %}>
      <label class="custom-control-label" for="{{ form.auto_email.id_for_label }}">{{ form.auto_email.label }}</label>
      {% if form.auto_email.help_text %}
      <small id="hint_{{ form.auto_email.name }}" class="form-text text-muted">{{ form.auto_email.help_text }}</small>
      {% endif %}
    </div>
  </div>
  <hr>
  {{ form.linode_api_token|as_crispy_field }}
  <hr>
  <div class="form-actions">
    <button type="submit" class="btn btn-success btn-detail">
      <i class="fas fa-check fa-fw mr-1"></i>
      Save
    </button>
    <a class="btn btn-primary btn-detail" href="{% url 'dump_json' %}">
      <i class="fas fa-save fa-fw mr-1"></i>
      Dump JSON
    </a>
    <a class="btn btn-primary btn-detail" href="{% url 'dump_xml' %}">
      <i class="fas fa-save fa-fw mr-1"></i>
      Dump XML
    </a>
    <a class="btn btn-danger btn-detail" href="{% url 'reset_invoice_template' %}?next={{ request.get_full_path }}">
      <i class="fas fa-undo-alt fa-fw mr-1"></i>
      Reset Invoice Template
    </a>
  </div>
</form>
<script>
  $(document).ready(function () {
    bsCustomFileInput.init()
  })
</script>
{% endblock content %}