{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}
{% block subtitle %}All users need to be logged in due to the presence of confidential information.{% endblock subtitle %}

{% block content %}
<form novalidate method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <hr>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary btn-detail">
      <i class="fas fa-sign-in-alt fa-fw mr-1"></i>
      Log in
    </button>
  </div>
</form>
{% endblock content %}