{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
{% endblock extra_head %}

{% block title %}Edit Shift{% endblock title %}
{% block subtitle %}Edit previously tracked time.{% endblock subtitle %}

{% block content %}
<form novalidate method="post">
  {% csrf_token %}
  {% if form.non_field_errors %}
  <div class="alert alert-block alert-danger">
    <ul class="m-0">
      {{ form.non_field_errors|unordered_list }}
    </ul>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-12 col-xl-6">
      {{ form.description|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6">
      {{ form.project|as_crispy_field }}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-xl-6">
      {{ form.duration|as_crispy_field }}
    </div>
    <div class="col-12 col-xl-6">
      {{ form.date|as_crispy_field }}
    </div>
  </div>
  {% if user.is_superuser %}
  <br>
  <div class="accordion" id="advancedOptions">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse"
            aria-expanded="false" aria-controls="collapse">
            <div class="d-flex justify-content-between" style="flex-wrap: wrap">
              <span><i class="fas fa-cog fa-fw mr-1"></i>Advanced Settings</span>
              <span><i class="fas fa-chevron-down"></i></span>
            </div>
          </button>
        </h2>
      </div>
      <div id="collapse" class="collapse" data-parent="#advancedOptions">
        <div class="card-body">
          {{ form.worker|as_crispy_field }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <hr>
  <div class="form-group">
    <p>The changes will be reflected in <span class="text-danger">all</span> Projects and Records of Services.</p>
  </div>
  <hr>
  <div class="form-actions">
    <button type="submit" class="btn btn-success btn-detail">
      <i class="fas fa-check fa-fw mr-1"></i>
      Save
    </button>
    <a class="btn btn-secondary btn-detail" href="{{ request.GET.next }}">
      <i class="fas fa-times-circle fa-fw mr-1"></i>
      Cancel
    </a>
  </div>
</form>
<script>
  $('#id_date').datepicker({
    uiLibrary: 'bootstrap4',
    modal: true,
    format: 'yyyy-mm-dd',
    icons: { rightIcon: '<i class="fas fa-calendar-day"></i>' }
  });
</script>
{% endblock content %}