{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}
{% block subtitle %}Change the password for your account.{% endblock subtitle %}

{% block content %}
<form novalidate method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <hr>
  <div class="form-group">
    <p>You will be logged out of Business Tracker on all computers.</p>
  </div>
  <hr>
  <div class="form-actions">
    <button type="submit" class="btn btn-success btn-detail">
      <i class="fas fa-check fa-fw mr-1"></i>
      Save
    </button>
    <a class="btn btn-secondary btn-detail" href="{{ request.GET.next }}">
      <i class="fas fa-times-circle fa-fw mr-1"></i>
      Cancel
    </a>
  </div>
</form>
{% endblock content %}