{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock title %}
{% block subtitle %}Request a password reset for your account.{% endblock subtitle %}

{% block content %}
<form novalidate method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <hr>
  <div class="form-group">
    <p>You will receive an email with instructions on how to reset your password.</p>
  </div>
  <hr>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary btn-detail">
      <i class="fas fa-share fa-fw mr-1"></i>
      Submit
    </button>
  </div>
</form>
{% endblock content %}