{% extends "base.html" %}

{% block title %}Delete Partner{% endblock title %}
{% block subtitle %}Delete the partner and associated data.{% endblock subtitle %}

{% block content %}
<form novalidate method="post">
    {% csrf_token %}
    <div class="form-group">
        {% if can_delete %}
        <p>
            Are you sure you want to proceed?
            <br>
            This action is <span class="text-danger">irreversible</span>.
        </p>
        {% else %}
        <p>
            The partner <span class="text-danger">cannot</span> be deleted.
            <br>
            There are one or more invoices that are not voided.
        </p>
        {% endif %}
    </div>
    <hr>
    <div class="form-actions">
        {% if can_delete %}
        <button type="submit" class="btn btn-danger btn-detail">
            <i class="fas fa-trash fa-fw mr-1"></i>
            Delete
        </button>
        {% endif %}
        <a class="btn btn-secondary btn-detail" href="{% firstof request.GET.cancel request.GET.next %}">
            <i class="fas fa-times-circle fa-fw mr-1"></i>
            Cancel
        </a>
    </div>
</form>
{% endblock content %}