{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ server.label }}{% endblock title %}
{% block subtitle %}View details about the server.{% endblock subtitle %}

{% block content %}
<div class="container-fluid no-gutters">
    <div class="row pt-3">
        <div class="col-xl-6 px-0 pr-xl-3">
            <h2>Server Information</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Hosting Provider</th>
                        <td>{{ server.get_hosting_provider }}</td>
                    </tr>
                    {% if server.provider_id %}
                    <tr>
                        <th scope="row">Provider ID</th>
                        <td>{{ server.provider_id }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Label</th>
                        <td>{{ server.label }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Operating System</th>
                        <td>{{ server.operating_system }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Specifications</th>
                        <td>{{ server.specifications }}</td>
                    </tr>
                    <tr>
                        <th scope="row">IP Address</th>
                        <td class="d-flex justify-content-between">
                            <p class="m-0 p-0" id="ipAddress">{{ server.ip_address }}</p>
                            <button class="btn btn-sm btn-outline-secondary ml-2" id="ipAddressButton">
                                <i class="fas fa-copy fa-fw"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Root Password</th>
                        <td class="d-flex justify-content-between">
                            <p class="m-0 p-0" id="rootPassword">{{ server.root_password }}</p>
                            <button class="btn btn-sm btn-outline-info ml-2" href="#" data-toggle="button" id="rootPasswordButton">
                                <i class="fas fa-eye fa-fw"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>{{ server.price }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td>
                            <span class="badge badge-{{ server.status_color }} font-weight-normal text-uppercase">{{ server.status }}</span>
                            <span class="badge badge-secondary font-weight-normal text-uppercase">{{ server.region }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xl-6 px-0 pl-xl-3">
            <h2>Services</h2>
            <table class="table">
                <tbody>
                    {% for service in server.services.all %}
                    <tr>
                        <th scope="row"><a href="{{ service.url }}">{{ service.name }}</a></th>
                        <td>{{ service.platform }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid no-gutters">
    <div class="row">
        <a class="btn btn-dark btn-detail" href="{% url 'servers:list' %}">
            <i class="fas fa-arrow-left"></i>
        </a>
        {% if server.get_hosting_provider == 0 %}
        <a class="btn btn-primary btn-detail" id="consoleButton"
            href="https://cloud.linode.com/linodes/{{ server.provider_id }}/lish/weblish">
            <i class="fas fa-terminal mr-1"></i>
            Launch Console
        </a>
        {% endif %}
        {% if user.is_superuser %}
        <a class="btn btn-warning btn-detail" href="{% url 'servers:edit' uid=server.uid %}?next={{ request.get_full_path }}">
            <i class="fas fa-pen mr-1"></i>
            Edit Server
        </a>
        <a class="btn btn-danger btn-detail"
            href="{% url 'servers:delete' uid=server.uid %}?next=/servers/&cancel={{ request.get_full_path }}">
            <i class="fas fa-trash mr-1"></i>
            Delete Server
        </a>
        {% endif %}
    </div>
</div>
{% endblock content %}