{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}Edit Server{% endblock title %}
{% block subtitle %}Edit the server.{% endblock subtitle %}

{% block content %}
<form novalidate method="post" action="" id="serverForm">
    {% csrf_token %}
    {{ form|crispy }}
    <table id="id_services_table" class="table">
        <thead>
            <tr>
                <th scope="col" width="25%">Name</th>
                <th scope="col" width="20%" class="item-table">Platform</th>
                <th scope="col" width="25%" class="item-table">URL</th>
                <th scope="col" width="5%"></th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset.forms %}
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            <tr id="{{ form.prefix }}-row">
                <td>
                    {% crispy_field form.name 'class' 'form-control form-control-sm' %}
                    {% if form.name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <strong>{{ error }}</strong>
                        {% endfor %}
                    </div>
                    {% endif %}
                </td>
                <td>
                    {% crispy_field form.platform 'class' 'form-control form-control-sm' %}
                    {% if form.platform.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.platform.errors %}
                        <strong>{{ error }}</strong>
                        {% endfor %}
                    </div>
                    {% endif %}
                </td>
                <td>
                    {% crispy_field form.url 'class' 'form-control form-control-sm' %}
                    {% if form.url.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.url.errors %}
                        <strong>{{ error }}</strong>
                        {% endfor %}
                    </div>
                    {% endif %}
                </td>
                <td class="btn-delete-container">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        {{ formset.management_form }}
    </p>
    <hr>
    <div class="form-actions">
        <button type="submit" class="btn btn-success btn-detail">
            <i class="fas fa-check fa-fw mr-1"></i>
            Save
        </button>
        <a class="btn btn-secondary btn-detail" href="{{ request.GET.next }}">
            <i class="fas fa-times-circle fa-fw mr-1"></i>
            Cancel
        </a>
    </div>
</form>
<script>
    updateInputs();
    $('#id_hosting_provider').on("change", updateInputs);
    $(function () {
        $('#id_services_table tbody tr').formset({
            prefix: 'services'
        })
    });
</script>
{% endblock content %}