{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Servers{% endblock title %}
{% block subtitle %}View the list of all servers.{% endblock subtitle %}

{% block content %}
<table id="jsTable" class="table list-view nowrap" style="width: 100%;">
    <thead>
        <tr>
            <th scope="col">Label</th>
            <th scope="col">Hosting Provider</th>
            <th scope="col">Status</th>
            <th scope="col">Services</th>
            <th scope="col">
                {% if user.is_superuser %}
                <a class="btn btn-sm btn-success" href="{% url 'servers:create' %}?next={{ request.get_full_path }}">
                    <i class="fas fa-plus fa-fw"></i>
                    Create Server
                </a>
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for server in servers %}
        <tr>
            <td>
                {{ server.label }}
            </td>
            <td>
                {{ server.get_hosting_provider }}
            </td>
            <td>
                <span class="ml-1 badge badge-{{ server.status_color }} font-weight-normal text-uppercase">{{ server.status }}</span>
                <span class="ml-1 badge badge-secondary font-weight-normal text-uppercase">{{ server.region }}</span>
            </td>
            <td>
                {% for service in server.services.all %}
                <p class="m-0"><a href="{{ service.url }}">{{ service.name }}</a> - {{ service.platform }}</p>
                {% endfor %}
            </td>
            <td>
                <a class="btn btn-sm btn-info" href="{% url 'servers:detail' uid=server.uid %}" data-toggle="tooltip" title="View Server">
                    <i class="fas fa-eye fa-fw"></i>
                </a>
                {% if user.is_superuser %}
                <a class="btn btn-sm btn-warning" href="{% url 'servers:edit' uid=server.uid %}?next={{ request.get_full_path }}"
                    data-toggle="tooltip" title="Edit Server">
                    <i class="fas fa-pen fa-fw"></i>
                </a>
                <a class="btn btn-sm btn-danger" href="{% url 'servers:delete' uid=server.uid %}?next={{ request.get_full_path }}"
                    data-toggle="tooltip" title="Delete Server">
                    <i class="fas fa-trash fa-fw"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}